<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Alumnos por curso</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1"> 

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container" ng-app="formacion" ng-controller="controller" ng-init="todosCursos()">
            <select ng-change="alumnosCurso()" ng-model="cursoSeleccionado">
                <option ng-repeat="c in cursos" ng-value="c.nombreCurso">
                    {{c.nombreCurso}}
                </option>
            </select>
            <br/><br/>
            <div ng-show="tabla">
                <table border="1" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre alumno</th>
                            <th>Email</th>
                            <th>Edad</th>					
                        </tr>
                    </thead>
                        <tbody >
                            <tr ng-repeat="a in alumnos">
                                <td>{{a.nombre}}</td>
                                <td>{{a.email}}</td>
                                <td>{{a.edad}}</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <script>
            var app=angular.module("formacion", []);
            app.controller("controller", function($scope, $http) {
               let url ="http://localhost:8080/";
               $scope.tabla=false;

               $scope.todosCursos=function(){
                $http.get(url+"cursosExistentes")
                .then(function(res){
                    $scope.cursos=res.data;
                })
               }

               $scope.alumnosCurso=function(){
                $http.get(url+"alumnos/"+$scope.cursoSeleccionado)
                .then(function(res){
                    $scope.tabla=true;
                    $scope.alumnos = res.data;
                })
               }
            });
        </script>
    </body>
</html>